# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
.tmp/

# IDE
.vscode/
.idea/
